
.slim-button {

      padding: 1px 10px 1px;
}

div.simple-card{

      background: #ffeec8a6;
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

div.simple-container{

      border: 2px solid;
      border-radius: 15px;
      border-color: #ffd66d;
      background: #f6fdff;
      margin-bottom: 40px;
      box-shadow: inset 5px 11px 9px 3px rgb(197 202 205 / 84%);
}

/* profile simple-menu */
ul.profile-items {

      list-style: none;
      padding: 0px;
}

ul.profile-items li {

      border-bottom: 2px solid #d9ac4c;
}

ul.profile-items li a {

      display: block;
      padding: 20px 0px 20px;
      padding-left: 5px;
}

ul.profile-items li a:hover, ul.profile-items li a.selected-item {

      color: #ffdc86;
      font-size: 16px;
      font-weight:300;
}

ul.profile-items li a.selected-item{

      border-left: 3px solid #ffdc86;
}

/* ACCORDION STYLE */

.header-img img {

      transition: all 0.3s ease-out;
      position: relative;
}
.header-img img:hover {

      transform: scale(1.2, 1.2);
      z-index: 9;
}

.header-img {

      cursor: pointer;
      transition: all 0.3s ease-out;
      position: relative;
      z-index: 1;
}
.header-img:hover {

      transform: scale(1.15, 1.15);
      z-index: 9;
}